html, body {
    height: 100%;
    width: 99.7%;
}

.centered{
	text-align: center;
}

.no-padding{
	padding: 0 !important;
}

.no-margin{
	margin: 0 !important;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100% !important;
  position: relative;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.footer-icon{
	margin-right: 10px;
	margin-left: 10px;
	color: #212529;
}

a{
	text-decoration: none;
}
.row-main{
	height: 100%;
}
.side-bar{
	border-right: 0.5px solid #ccc;
	height: 100%;
}